.holder-outer {
  position: relative;
}

.holder-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform, top, left;
  pointer-events: none;
}